<ul class="list">
  <% for (const item of items) { %>
    <li type="1" <%= metadataAttrs(item) %>>
      <h3><a href="<%- item.path %>"><%= item.title %></a></h3>
      <div class="listing-members"><strong>Team Members</strong>:
        <%= item.members.join(", ") %>
      </div>
      <div class="listing-periodo"><strong>Período de ejecución</strong>: <%= item['start-year'] %> - <%= item['end-year'] %></div>
      <div class="listing-link"><strong>Link de acceso</strong>: <a href="<%= item.link %>" target="_blank">Link</a></div>
    </li>
  <% } %>
</ul>
